@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
  margin: 0;
}

h1, p, ul {
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 5px;
  list-style-type: none;
  max-width: 1000px; /* Set a max-width for larger screens */
  width: auto; /* By default, let it wrap the content */
  text-align: center; /* Center the text */
}

a {
  text-decoration: none;
  color: #000; 
  transition: color 0.3s ease, font-weight 0.3s ease;
}

a:hover {
  color: #490000;
  font-weight: bold; 
}

li {
  margin-bottom: 10px; 
}

li:last-child {
  margin-bottom: 0;
}

/* For small mobile devices */
@media (max-width: 576px) {
  h1, p, ul {
    font-size: 0.9em; /* Slightly reduce the font size */
    margin: 10px; /* Add some margin to prevent boxes from hitting the edge */
  }
}

/* For tablets and small desktops */
@media (max-width: 992px) {
  h1, p, ul {
    font-size: 1em; /* Default font size */
    width: 90%; /* Set width to 90% for some space on the sides */
  }
}

/* For larger desktops */
@media (min-width: 993px) {
  h1, p, ul {
    width: 80%; /* Reduce width to 80% for more space on the sides */
  }
}
