@import url('https://fonts.googleapis.com/css?family=Lato');

/* Add a CSS reset to ensure consistent styling across browsers */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  color: #ecf0f1;
  background-color: #1A1E23;
}

h1, h2 {
  font-weight: normal; /* Reset default bold font-weight */
}

ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style: none; /* Use shorthand property */
}

#backhome {
  font-size: 20px; /* Remove duplicate semicolon */
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  left: 40px;
  top: 10px;
}

.button {
  border: none;
  color: #1A1E23;
  background-color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  position: fixed;
  left: 40px;
  top: 20px;
}

.button1 {
  background-color: #346d8f;
  color: black;
}

.button1:hover {
  background-color: #db3434;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

#projects {
  font-size: larger;
}

li {
  padding: 6px 0;
}

a {
  display: block;
  padding: 4px 0;
  position: relative;
  left: 80px;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #db3434;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s;
}

a:hover {
  color: #a69595;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

footer {
  font-size: 15px;
  text-align: center;
  position: fixed;
  bottom: 25px;
  color: #ecf0f1af;
}