@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a;
    line-height: 1.6;
    font-size: 20px;
}

h1 {
    color: white;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'Merriweather',
        serif;
}
.card {
    background: #31343C;
    color: white;
    padding: 1rem;
}

.btn {
    background-color: #222;
}
.list-group-item {
    background-color: #222;
    color: white;
}