:root {
  --primary-color: #814C27;
  --secondary-color: #B76E22;
  --background-color: #F0E5D8;
  --text-color: #573D26;
  --fancy-text-color: purple;
  --box-background-color: lightblue;
  --box-border-color: #814C27;
  --box-padding: 10px;
  --box-margin: 20px;
  --image-margin: 10px;
}

html {
  background-color: var(--background-color);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.container, .container * {
  text-align: left;
}

.container {
  width: 100%;
  max-width: 800px;
}

h1 {
  color: var(--primary-color);
}

h2 {
  color: var(--secondary-color);
  font-family: 'Times New Roman', serif;
}

p {
  color: var(--text-color);
}

.fancy-teksti {
  color: var(--fancy-text-color);
}

.box {
  background-color: var(--box-background-color);
  border: 1px solid var(--box-border-color);
  padding: var(--box-padding);
  margin: var(--box-margin);
}

img {
  display: block;
  margin: var(--image-margin) 0;
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
}

figure {
  margin: var(--box-margin);
}

figcaption {
  font-style: italic;
  margin-top: 0.5em;
}

li {
  text-align: left;
}

ol, ul {
  list-style-position: inside;
  padding-left: 0;
}
